.blogs {
    margin: 100px 0px 70px 0px;
}

.hello {
    opacity: .2 !important;
    font-size: 120px !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
    font-weight: bolder !important;
    font-family: 'Paytone One', sans-serif !important;
    text-align: center !important;
}

.list {
    height: 5px !important;
    /* width: 7; */
    background-color: var(--primary) !important;
}

.BlogList{
    margin-top: 40px !important;
}

.center {
    width: 320px !important;
}

.image {
    border-radius: 0px 0px 10px 10px !important;
}


.FlexTime {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: row !important;
}

.blogTitle {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    /* number of lines to show */
    line-height: 1.5rem !important;
    /* fallback */
    height: 3rem !important;
    text-align: center !important;
    margin: 7px 0px !important;
    margin-top: 15px !important;
    font-size: 17px !important;
}


.blogDetail {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    /* number of lines to show */
    line-height: 1.5rem !important;
    /* fallback */
    height: 4.5rem !important;
    text-align: center !important;
    margin: 7px 0px;
    font-size: 11px;
    color: white !important;
    /* letter-spacing: .5px; */
    padding: 0px 10px !important;
}

.Btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 20px !important;
}


.Link{
    text-decoration: none !important;
}


@media screen and (max-width: 900px) {
    .hello {
        font-size: 80px !important;
    }
}

@media screen and (max-width: 600px) {
    .hello {
        font-size: 60px !important;
    }
}

@media screen and (max-width: 400px) {
    .hello {
        font-size: 40px !important;
    }
}