* {
    margin: 0;
    padding: 0;
    /* color: white !important; */
}

:root {
    --background: #090A1A;
    --primary: #627AFF;
    --orange: #FF813A;
    --green: #1DBF73;
    --border: #66666650;
}


body {
    background-color: var(--background) !important;
}