.feedback {
    margin: 100px 0px 70px 0px !important;
}

.hello {
    opacity: .2 !important;
    font-size: 120px !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
    font-weight: bolder !important;
    font-family: 'Paytone One', sans-serif !important;
    text-align: center !important;
}

.notion {
    font-size: 100px !important;
    /* color: white !important; */
}

.stepper{
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    position: relative !important;
}

.description{
    height: 160px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}